#p1 {
    background: transparent;
    box-shadow: none;
}
.register-bg {
    background: #fff;
    margin: 0 auto;
}
.passwordVerification {
    margin: 0;
    font-size: x-small;
}
.passwordVerification:before {
    content: "\1F6C8";
    font-size: 1.2em;
    margin: 0 0.2em 0 0;
}
