.commentRowRight {
    text-align: right;
}
.commentRowLeft {
    text-align: left;
}
.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    width: 25%;
}
.actionWidth {
    width: 21%;
}

.imageLogin {
    width: 73%;
}
.paginationNav {
    float: right;
}
.custom-select-sm {
    width: 39% !important;
}
.actionWidth {
    width: 20%;
}
